/.vscode
/presentation-blx.bib
/presentation.aux
/presentation.bbl
/presentation.bcf
/presentation.blg
/presentation.log
/presentation.nav
/presentation.out
/presentation.run.xml
/presentation.snm
/presentation.synctex.gz
/presentation.toc
presentation.fdb_latexmk
.gitignore
presentation.fls
